.quote {
  background-color: #ffffff;
  color: #323232;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 4px #cecece56;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.quote p {
  text-align: center;
  font-style: normal;
  font-size: 1.8rem;
}


.quote figcaption {
  font-style: italic;
  font-size: 1.5rem;
  text-align: right;
  color: #646666;
}
