.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  padding-bottom: 2rem;
  border-bottom: 3px solid #ddd;
  margin-bottom: 2rem;
}

.sorting button {
  font: inherit;
  color: #33342e;
  border: 1px solid #33342e;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #96346b;
  color: #ffffff;
  border: #ffffff;
}
