.form {
  margin-top: 1rem;
  position: relative;
  text-align: center;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.control textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  background-color: #ffffff;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control textarea:focus {
  background-color: #ffffff;
}

.actions button {
  font-size: 1.25rem;
}
