* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #ffffff;
}

.centered {
  margin: 2rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.btn {
  background-color: #ffffffcb;
  color: rgb(33, 32, 30);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover,
.btn:active {
  color: #bf3939;
}

.btn--flat {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  font-size: large;
  color: #3c3a3a;
  padding: 0.75rem 1.5rem;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: rgb(229, 172, 16);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}
